<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skd.dao.DeliverPriceDao" >
  <resultMap id="BaseResultMap" type="com.skd.pojo.DeliverPrice" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DELIVER_UNIT" property="deliverUnit" jdbcType="VARCHAR" />
    <result column="EXTRA_PRICE" property="extraPrice" jdbcType="INTEGER" />
    <result column="NORMAL_PRICE" property="normalPrice" jdbcType="INTEGER" />
    <result column="STORE" property="store" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    ID, DELIVER_UNIT, EXTRA_PRICE, NORMAL_PRICE,STORE,REMARK
  </sql>
  
  <select id="findObjects" resultType="map">
		select
		<include refid="Base_Column_List" />
		
		from t_deliver_price
		<where>
			<if test="1==1">
				1=1
			</if>
			<if test="entity!=null and entity.id!=null">
				and ID=#{entity.id}
			</if>
			<if test="entity!=null and entity.deliverUnit!=null">
				and DELIVER_UNIT like concat(concat('%',#{entity.deliverUnit}),'%')
			</if>
			<if test="entity!=null and entity.extraPrice!=null">
				and EXTRA_PRICE=#{entity.extraPrice}
			</if>
			<if test="entity!=null and entity.normalPrice!=null">
				and NORMAL_PRICE=#{entity.normalPrice}
			</if>
			<if test="entity!=null and entity.store!=null">
				and STORE=#{entity.store}
			</if>
			<if test="entity!=null and entity.remark!=null">
				and REMARK like concat(concat('%',#{entity.remark}),'%')
			</if>
		</where>
		<if test="rule!=null">
			order by ${rule} 
		</if>
		<if test="pageobject!=null and pageobject.pageSize != 0 and pageobject.pageSize != null">
			LIMIT #{pageobject.startIndex},#{pageobject.pageSize}
		</if>
	</select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_deliver_price
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_deliver_price
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.skd.pojo.DeliverPrice" >
    insert into t_deliver_price (ID, DELIVER_UNIT, EXTRA_PRICE, 
      NORMAL_PRICE,STORE,REMARK)
    values (#{id,jdbcType=INTEGER}, #{deliverUnit,jdbcType=VARCHAR}, #{extraPrice,jdbcType=INTEGER}, 
      #{normalPrice,jdbcType=INTEGER}, #{store,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skd.pojo.DeliverPrice" >
    insert into t_deliver_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deliverUnit != null" >
        DELIVER_UNIT,
      </if>
      <if test="extraPrice != null" >
        EXTRA_PRICE,
      </if>
      <if test="normalPrice != null" >
        NORMAL_PRICE,
      </if>
      <if test="store != null" >
        STORE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deliverUnit != null" >
        #{deliverUnit,jdbcType=VARCHAR},
      </if>
      <if test="extraPrice != null" >
        #{extraPrice,jdbcType=INTEGER},
      </if>
      <if test="normalPrice != null" >
        #{normalPrice,jdbcType=INTEGER},
      </if>
      <if test="store != null" >
        #{store,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.skd.pojo.DeliverPrice" >
    update t_deliver_price
    <set >
      <if test="deliverUnit != null" >
        DELIVER_UNIT = #{deliverUnit,jdbcType=VARCHAR},
      </if>
      <if test="extraPrice != null" >
        EXTRA_PRICE = #{extraPrice,jdbcType=INTEGER},
      </if>
      <if test="normalPrice != null" >
        NORMAL_PRICE = #{normalPrice,jdbcType=INTEGER},
      </if>
      <if test="store != null" >
        REMARK = #{store,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skd.pojo.DeliverPrice" >
    update t_deliver_price
    set DELIVER_UNIT = #{deliverUnit,jdbcType=VARCHAR},
      EXTRA_PRICE = #{extraPrice,jdbcType=INTEGER},
      NORMAL_PRICE = #{normalPrice,jdbcType=INTEGER},
      STORE = #{store,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>